
<!-- <div class='header'>
    <nav class="navbar navbar-expand-lg">
        <div id="navbarSupportedContent">
            <div class="text-center">
                <button class="menu">About</button>
                <button class="menu">What I Do</button>
                <button class="menu">Contact</button>
            </div>
        </div>
    </nav>
</div> -->


<!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black sticky-top">

        <!-- Collapsible content -->
        <links>
            <!-- Links -->
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item active text-center ml-3 mr-3 mt-2 mb-2">
                    <a class="nav-link waves-light" mdbWavesEffect>About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item text-center ml-3 mr-3 mt-2 mb-2">
                    <a class="nav-link waves-light" mdbWavesEffect>What I Do</a>
                </li>
                <li class="nav-item text-center ml-3 mr-3 mt-2 mb-2">
                    <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
                </li>
            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
<!--/.Navbar-->