.header{
    z-index: 1;
    position: relative;
    min-height: 80px;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* border-bottom: 1px solid #fff; */
    opacity: 0.90;
}


.navbar-dark.unique-color-dark{
    opacity: 0.9;
}

.nav-item{
    border: 2px solid #ff652f;
    font-size: 20px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: #ff652f
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-item .sub-menu .nav-link{
    color: #000000 !important;
}

.nav-item.active{
    background-color: #FF652F;
    font-weight: 500;
    border-radius: 2rem;
}

.navbar .dropdown-menu a{
    padding: unset;
    font-size: unset;
}

.img-circle{
    background-color: #fff;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 10px 0px 0px 10px;
}

.menu{
    max-height: 40px;
    min-width: 100px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
}

button.menu:hover{
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid #000;
}

.center {
    margin: 25px 0px 0px 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.sub-menu > ul > li:hover{
    background-color: #919191;
}

ul.navbar-nav > li:hover{
    background-color: #FF652F;
    font-weight: 500;
    border-radius: 2rem;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    background-color: transparent;
}



