<div class="timeline">
    <div class="row justify-content-center center">
        <div class="col-md-4 col-10 pt-3 pb-3" *ngFor="let job of jobList">
            <mat-card>
                <mat-card-title>
                    <div class="card-overlay shadow"> 
                        <span class="card-overlay-top" [ngStyle]="{'background': job.isCurrent ? '#FF652F': 'cadetblue'}">
                            <p class="card-overlay text">{{job.jobType}}</p>
                        </span>
                    </div>
                </mat-card-title>
                <img class="pt-10 pl-2 pr-2" mat-card-image src={{job.companyLogo}}>
                <mat-card-title-group>
                    <mat-card-title>{{job.jobTitle}}</mat-card-title>
                    <mat-card-subtitle>{{job.period}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card>
        </div>
    </div>
</div>
