<div class="timeline">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>
                    <div class="card-overlay shadow"> 
                        <span class="card-overlay-top">
                            <p class="card-overlay text">Internship</p>
                        </span>
                    </div>
                </mat-card-title>
                <img class="pt-10 pl-2 pr-2" mat-card-image src="../../assets/images/logo/sophic_logo.png">
                <mat-card-title-group>
                    <mat-card-title>Engineer Assistant</mat-card-title>
                    <mat-card-subtitle>2018 (6 months)</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>             
                <mat-card-title>
                    <div class="card-overlay shadow"> 
                        <span class="card-overlay-top">
                            <p class="card-overlay text">Full time</p>
                        </span>
                    </div>
                </mat-card-title>
                <img class="pt-10 pl-2 pr-2" mat-card-image src="../../assets/images/logo/fusionex_logo.webp">
                <mat-card-title-group>
                    <mat-card-title>Fullstack Developer</mat-card-title>
                    <mat-card-subtitle>2019 - Present</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card>
        </div>
    </div>
</div>
