<!-- <app-in-progress></app-in-progress> -->

<section class="d-flex center full-page bg-dark-gray">
    <div class="d-flex flex-column justify-content-center p-5">
        <div class="p-2 d-flex justify-content-center">
            <!-- <img src="assets/images/navin10.png" class="img-responsive"> -->
            <img class="img-fluid card-img" [src]="devCardImg">
            <!-- <img src="assets/images/navin15.png" class="img-responsive-sm my-image-icon"> -->
        </div>
        <p class="p-2 text-responsive-lg text-white mt-5">Navin Letchumanan</p>
       
        <span class="p-2 contact-list">
            <!-- <div class="d-flex">
                <div>
                    <a class="p-2 btn-outline" size="4x" mdbBtn mdbWavesEffect>
                        <mdb-icon class="orange-icon" fas icon="phone"></mdb-icon>
                    </a>
                    <span class="text-responsive-xs text-white">+60 106654305</span>
                </div>
            </div> -->
            <div class="d-flex">
                <div>
                    <a class="p-2 btn-outline" size="4x" mdbBtn mdbWavesEffect>
                        <mdb-icon class="orange-icon" fas icon="envelope"></mdb-icon>
                    </a>
                    <span class="text-responsive-xs text-white">navinletchumanan@gmail.com</span>
                </div>   
            </div>
            <div class="d-flex">
                <div>
                    <a class="p-2 btn-outline" size="4x" mdbBtn mdbWavesEffect>
                        <mdb-icon class="orange-icon" fas icon="map-marker-alt"></mdb-icon>
                    </a>
                    <span class="text-responsive-xs text-white">Kuala Lumpur, Malaysia</span>
                </div>           
            </div>
        </span>

        <span class="d-flex justify-content-center p-3">
            <a href="https://www.facebook.com/navin.letchumanan">
                <mdb-icon class="white-icon pr-3" size="2x" fab icon="facebook" ></mdb-icon>
            </a>
            <a href="https://www.linkedin.com/in/navin-letchumanan">
                <mdb-icon class="white-icon pr-3" size="2x" fab icon="linkedin"></mdb-icon>
            </a>
            <a href="https://github.com/lnavin101">
                <mdb-icon class="white-icon pr-3" size="2x" fab icon="github"></mdb-icon>
            </a>
        </span>
    </div>
</section>

<ngx-spinner color="#ff652f"></ngx-spinner>