<div class="skills">
    <div class="row">
        <div class="col-md-6">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo" src="../../assets/images/no-image.jpg">
                    <h1 class="text-white pt-2">Company</h1>
                </div>
                <div class="content pl-2 pr-2 pt-2 pb-2">
                    <p class="text-white">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo" src="../../assets/images/no-image.jpg">
                    <h1 class="text-white pt-2">Company</h1>
                </div>
                <div class="content pl-2 pr-2 pt-2 pb-2">
                    <p class="text-white">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"</p>
                </div>
            </div>
        </div>
    </div>
</div>
