<div class="skills">
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/angular.png">
                    <h1 class="text-white pt-2">Angular</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/js.png">
                    <h1 class="text-white pt-2">Javascript</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/node.png">
                    <h1 class="text-white pt-2">NodeJS</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/mongo.png">
                    <h1 class="text-white pt-2">MongoDB</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/sql.png">
                    <h1 class="text-white pt-2">MySQL</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="skills-box">
                <div class="header pt-5">
                    <img class="logo skills-overlay-shadow" src="../../assets/images/logo/skills/csharp.png">
                    <h1 class="text-white pt-2">C#</h1>
                </div>
            </div>
        </div>
</div>
