@import "primeng/resources/themes/nova-accent/theme.css";

body { --bg-color: #fefae0;}


.p-splitter{
    --splitter-color: #edede9;
}

.content-box{
    --bg-content-box: #edede9;
}

.mat-card{
    --bg-card-color: #d4a373;
}

.text-curly{
    --bg-text-curly: #272727;
}

.text-white{
    --bg-text-color:  #272727;
}