<!-- <app-in-progress></app-in-progress> -->
<section class="page bg-dark-gray">
    <div class="d-flex justify-content-center mt-3">
        <div class="section-title">
            <h1 class="sub-title">Interests</h1>
            <div class="title-line"></div>
        </div>
    </div>
    <div class="row">
        <!-- [animation]="'slide'" -->
        <mdb-carousel #designCarousel id="design-carousel"  [isControls]="true"  class="carousel-multi-item multi-animation mx-auto w-100" [type]="'carousel-multi-item'"
        [animation]="imgAnimation">
            <mdb-carousel-item *ngFor="let item of designs; let i = index" class="d-flex justify-content-center">
                <div class="col-sm-6 col-md-3 col-12" *ngFor="let interest of item; let interestIdx = index">
                <mdb-card class="my-1">
                    <mdb-card-img [src]="interest.url" alt="interest image"></mdb-card-img>
                    <mdb-card-body>
                    <mdb-card-title>
                        <h4>{{interest.title}}</h4>
                    </mdb-card-title>
                    <p>{{interest.description}}</p>
                    </mdb-card-body>
                </mdb-card>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
        <div *ngIf="imgAnimation != 'none'" class="d-flex justify-content-center mt-3 w-100">
            <a class="mr-5" style="color: #3b5998;" (click)="prevImage()" role="button">
                <i class="fas fa-chevron-left fa-lg"></i>
            </a>
            <a style="color: #3b5998;" (click)="nextImage()" role="button">
                <i class="fas fa-chevron-right fa-lg"></i>
            </a>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <mdb-carousel #videoCarousel id="video-carousel" [isControls]="true" class="carousel-multi-item multi-animation mx-auto w-100" [type]="'carousel-multi-item'"
            [animation]="'slide'" [interval]=0>
            <mdb-carousel-item *ngFor="let item of videos; let i = index">
                <div class="col-md-6 col-12" *ngFor="let interest of item; let interestIdx = index">
                <mdb-card class="my-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="interest.url | safe" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    <mdb-card-body>
                    <mdb-card-title>
                        <h4>{{interest.title}}</h4>
                    </mdb-card-title>
                    <p>{{interest.description}}</p>
                    </mdb-card-body>
                </mdb-card>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
        <div class="d-flex justify-content-center mt-3 w-100">
            <a class="mr-5" style="color: #3b5998;" (click)="prevVideo()" role="button">
                <i class="fas fa-chevron-left fa-lg"></i>
            </a>
            <a style="color: #3b5998;" (click)="nextVideo()" role="button">
                <i class="fas fa-chevron-right fa-lg"></i>
            </a>
        </div>
    </div>
    <hr class="my-2">
</section>

<ngx-spinner color="#ff652f"></ngx-spinner>