<section class="my-5">
    <div class="row content-box z-depth-2">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/images/Me.png" class="img-fluid my-image-full z-depth-2 flicker-in-glow hidden-mobile">
            <img src="assets/images/Me-mobile2.png" class="img-fluid my-image-small rounded-circle z-depth-2 flicker-in-glow visible-mobile mt-2">
        </div>
        <div class="col-md-6 mx-auto my-auto pr-5">
            <div class="row">
                <p class="my-name first-name-expand pt-5 text-responsive-lg">Navin Letchumanan</p>
            </div>
            <div class="row">
                <p class="text-curly mt-5 text-responsive">Fullstack Developer with almost 2 years of 
                    experience focused in web development with a 
                    vast knowledge in both frontend and backend 
                    languages and seeking to be an expert in what i do 
                    while getting the best out of myself.
                </p>
            </div>
            
            <!-- <h1 class="my-last-name last-name-expand">L E T C H U M A N A N</h1> -->
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="section-title">
            <h1 class="sub-title">Experience</h1>
            <div class="title-line"></div>
        </div>
        <div class="content-box z-depth-2">
            <app-experience></app-experience>
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="section-title">
            <h1 class="sub-title">Skills</h1>
            <div class="title-line"></div>
        </div>
        <div class="content-box z-depth-2">
            <app-skills></app-skills>
        </div>
    </div>
    <hr class="my-5">
</section>

<ngx-spinner color="#ff652f"></ngx-spinner>