<section class="my-5">
    <div class="row">
        <div class="about-box">
            <h1 class="my-name first-name-expand">NAVIN</h1>
            <h1 class="my-last-name last-name-expand">L E T C H U M A N A N</h1>
            <img src="assets/images/Me.png" class="img-fluid my-image flicker-in-glow">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="section-title">
            <h1 class="sub-title">Experience</h1>
            <div class="title-line"></div>
        </div>
        <div class="content-box">
            <app-experience></app-experience>
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="section-title">
            <h1 class="sub-title">Skills</h1>
            <div class="title-line"></div>
        </div>
        <div class="content-box">
            <app-skills></app-skills>
        </div>
    </div>
    <hr class="my-5">
</section>